@model WebBanGiayAdidas.Models.Post
<head>
    <link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
</head>
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a asp-controller="New" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Tin tức</a></li>
                    <li><a asp-controller="New" asp-action="Detail"> <i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Title</a></li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="main_content_cart">
                <div class="news">
                    <div class="transition">
                        <div class="containerNew">
                            @Html.Raw(Model.Detail)
                            <div style="margin-top: 20px;">
                                <a asp-controller="Blog" asp-action="Index" class="btn btn-warning">
                                    <i class="fa fa-arrow-left" style="margin-right: 6px;"></i> Quay lại trang bài viết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/categories_custom.js"></script>
    <script src="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
