            <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
            <div class="image">

                <img src="~/clients/dist/img/user2-160x160.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">Adidas</a>
            </div>
        </a>
    </div>

    <!-- SidebarSearch Form -->
    @* <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div> *@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Danh mục</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Contacts" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-envelope"></i>
                    <p>Liên hệ</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="News" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>Tin tức</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Posts" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-file-alt"></i>
                    <p>Bài viết</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>
                        Quản lý tài khoản
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="UserRoles" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Phân quyền</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tài khoản</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Reviews" asp-action="Index" class="nav-link">
                    <i class="nav-icon 	fas fa-comments"></i>
                    <p>Bình luận</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>
                        Quản lý đơn hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thông tin đơn hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="OrderDetails" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Chi tiết đơn hàng</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-box-open"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="ProductCategories" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="../widgets.html" class="nav-link">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>Hệ thống</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->